* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  /* background: linear-gradient(86deg, #fafbfd, #7a99d6); */
}

a {
  color: inherit;
  text-decoration: none;
}

.project-card {
  max-width: 345;
  min-height: 400;
  background: #bccef1;
}

.project-card:hover{
  background: #7a99d6;
  max-width: 400;
  min-height: 500;

}
